{% extends 'base.html.twig' %}

{% block title %}Нүүр хуудас{% endblock %}

{% block body %}
        <!--hero section start-->

        <section class="banner position-relative fullscreen-banner dark-bg p-0" data-bg-img="{{ asset('global_assets/images/pattern/02.png') }}">
            <div class="hero-animation"> <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="hero-text"> <span>A</span>
                <span>I</span>
                <span>O</span>
                <span>J</span>
                <span>S</span>
                <span>U</span>
                <span>X</span>
            </div>
            <div class="align-center pt-0 b-pl">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="bnr-title large">WE</div>
                        </div>
                        <div class="col-lg-7">
                            <div class="bnr-title text-lg-left letter-space-1">ARE IO.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-left h-100 d-flex align-items-center justify-content-center">
                <div class="hero-social text-center">
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.facebook.com/io.institute"> <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/io.institute"> <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCPJi9mf5pGH7rEZ6DhDQX2w"> <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div> <a href="#program" class="scroll-down-arrow"></a>
            </div>
        </section>

        <!--hero section end-->


        <!--body content start-->

        <div id="main-page" class="page-content">

            <!--service start-->

            <section class="position-relative" id="program">
                <div class="bg-effect">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 288 288">
                        <path fill="#e1fdf5" d="">
                            <animate repeatCount="indefinite" attributeName="d" dur="5s" values="M37.5,186c-12.1-10.5-11.8-32.3-7.2-46.7c4.8-15,13.1-17.8,30.1-36.7C91,68.8,83.5,56.7,103.4,45
  c22.2-13.1,51.1-9.5,69.6-1.6c18.1,7.8,15.7,15.3,43.3,33.2c28.8,18.8,37.2,14.3,46.7,27.9c15.6,22.3,6.4,53.3,4.4,60.2
  c-3.3,11.2-7.1,23.9-18.5,32c-16.3,11.5-29.5,0.7-48.6,11c-16.2,8.7-12.6,19.7-28.2,33.2c-22.7,19.7-63.8,25.7-79.9,9.7
  c-15.2-15.1,0.3-41.7-16.6-54.9C63,186,49.7,196.7,37.5,186z;
  M51,171.3c-6.1-17.7-15.3-17.2-20.7-32c-8-21.9,0.7-54.6,20.7-67.1c19.5-12.3,32.8,5.5,67.7-3.4C145.2,62,145,49.9,173,43.4
  c12-2.8,41.4-9.6,60.2,6.6c19,16.4,16.7,47.5,16,57.7c-1.7,22.8-10.3,25.5-9.4,46.4c1,22.5,11.2,25.8,9.1,42.6
  c-2.2,17.6-16.3,37.5-33.5,40.8c-22,4.1-29.4-22.4-54.9-22.6c-31-0.2-40.8,39-68.3,35.7c-17.3-2-32.2-19.8-37.3-34.8
  C48.9,198.6,57.8,191,51,171.3z;
  M37.5,186c-12.1-10.5-11.8-32.3-7.2-46.7c4.8-15,13.1-17.8,30.1-36.7C91,68.8,83.5,56.7,103.4,45
  c22.2-13.1,51.1-9.5,69.6-1.6c18.1,7.8,15.7,15.3,43.3,33.2c28.8,18.8,37.2,14.3,46.7,27.9c15.6,22.3,6.4,53.3,4.4,60.2
  c-3.3,11.2-7.1,23.9-18.5,32c-16.3,11.5-29.5,0.7-48.6,11c-16.2,8.7-12.6,19.7-28.2,33.2c-22.7,19.7-63.8,25.7-79.9,9.7
  c-15.2-15.1,0.3-41.7-16.6-54.9C63,186,49.7,196.7,37.5,186z  " />
                        </path>
                    </svg>
                </div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 z-index-1">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="featured-item style-1 active">
                                        <a href="#yearProgram">
                                            <div class="featured-icon"> <i class="flaticon-idea"></i>
                                            </div>
                                            <div class="featured-title">
                                                <h5>Эрчимжүүлсэн хөтөлбөр</h5>
                                            </div>
                                        </a>
                                        <div class="featured-desc">
                                            <p>Уламжлалт 4 жилийн хөтөлбөрийг 1 жилд багтаан олгодог онцлогтой.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 mt-5 mt-md-0">
                                    <div class="featured-item style-1">
                                        <div class="featured-icon"> <i class="flaticon-histogram"></i>
                                        </div>
                                        <div class="featured-title">
                                            <h5>Мэргэшсэн хѳтѳлбѳр</h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Шинэ технологиудын талаар ахисан шатны мэдлэг олгох зорилготой.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 mt-5">
                                    <div class="featured-item style-1">
                                        <a href="{{ path('product_summer') }}">
                                            <div class="featured-icon"> <i class="flaticon-analytics"></i>
                                            </div>
                                            <div class="featured-title">
                                                <h5>Зуны хѳтѳлбѳр</h5>
                                            </div>
                                        </a>
                                        <div class="featured-desc">
                                            <p>Програмчлалын анхан болон дунд шатны мэдлэгийг системтэйгээр олгодог онцлогтой.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 mt-5">
                                    <div class="featured-item style-1">
                                        <a href="{{ path('product_uiux') }}">
                                            <div class="featured-icon"> <i class="flaticon-optimization"></i>
                                            </div>
                                            <div class="featured-title">
                                                <h5>UI UX дизайны хөтөлбөр</h5>
                                            </div>
                                        </a>
                                        <div class="featured-desc">
                                            <p>UI, UX дизайны суурь ойлголтуудыг гурван сарын хугацаанд олгох зорилготой.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-5 mt-lg-0">
                            <div class="section-title">
                                <h6>ХѲТѲЛБѲР</h6>
                                <h2 class="title">Та бүхэнд ѳѳрсдийн онцгой <span>Хѳтѳлбѳрийг танилцуулж байна.</span></h2>
                                <p class="text-black mb-0">Манай хѳтѳлбѳр нь оюутанд зөвхөн мэргэжлийн онол болон практикт суурилсан хичээлийг санал болгодог. Оюутанд мэргэжилтэн болоход шаардлагатай чухал мэдлэгийг агуулсан хичээлийн хөтөлбөрөөр хичээллэх ба бусад шаардлагагүй нэмээлт хичээл ордоггүйгээрээ онцлогтой̆.</p>
                            </div>
                            <ul class="list-unstyled list-icon">
                                <li class="mb-4"><i class="fas fa-check"></i> Эрчимжүүлсэн хөтөлбөр</li>
                                <li class="mb-4"><i class="fas fa-check"></i> Зуны хѳтѳлбѳр</li>
                                <li class="mb-4 mb-sm-0"><i class="fas fa-check"></i> Мэргэшсэн хѳтѳлбѳр</li>
                                <li><i class="fas fa-check"></i> UI UX дизайны хөтөлбөр</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <!--service end-->





            <section id="yearProgram">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-8 col-md-12">
                            <div class="section-title">
                                <h2 class="title">Эрчимжүүлсэн <span>Хѳтѳлбѳр</span></h2>
                                <p>Эрчимжүүлсэн 1 жилийн хѳтѳлбѳрийн хичээлүүд нь бүгд хоорондоо уялдаа холбоотойгоор заагддаг бөгөөд анхан шатнаас нь эхлээд тѳгсѳлтийн ажил хүртэл онол, практик хослуулан хичээллэдэг. Ингэснээр сурагчид маань мэдлэгийг илүү цэгцтэй, системтэйгээр олж авах боломж нь бүрддэг билээ. </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="featured-item style-3">
                                <div class="featured-icon">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/js.png') }}" alt="" style="margin-bottom: 10px;">
                                    <span class="border-anim"></span>
                                </div>
                                <div class="featured-title">
                                    <h5>1.Програмчлалын үндэс</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Програмчлалын хэлний зарчим, #javascript хэлний онцлог давуу талуудыг судалж, програм бичих, програмчлалын бодлого бодох суурь мэдлэг чадвар олгох зорилготой.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="featured-item style-3 active">
                                <div class="featured-icon">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/postgre.png') }}" alt="" style="margin-bottom: 10px;">
                                    <span class="border-anim"></span>
                                </div>
                                <div class="featured-title">
                                    <h5>2.Өгөгдлийн сангийн зохиомж</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Бодит орчны ямар ч биет болон биет бус зүйлсийг илэрхийлэх өгөгдлийн сангийн архитектурыг зохиомжлох чадварыг олгох зорилготой.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="featured-item style-3">
                                <div class="featured-icon">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/html.png') }}" alt="" style="margin-bottom: 10px;">
                                    <span class="border-anim"></span>
                                </div>
                                <div class="featured-title">
                                    <h5>3.Веб хөгжүүлэлтийн үндэс</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Веб түүний бүтэц зохион байгуулалтын үндсэн ойлголтуудыг олгохоос гадна веб хөгжүүлэгчийн зайлшгүй мэдэх ёстой зохион байгуулалтын арга, техник, технологиудыг эзэмшүүлэх зорилготой.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="featured-item style-3">
                                <div class="featured-icon">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/js.png') }}" alt="" style="margin-bottom: 10px;">
                                    <span class="border-anim"></span>
                                </div>
                                <div class="featured-title">
                                    <h5>4. Алгоритм ба өгөгдлийн бүтэц</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Энэхүү хичээл нь програм зохиох буюу кодчилолын суурь чадварыг хөгжүүлэх, үндсэн арга техникийг эзэмшүүлэх зорилготой</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="featured-item style-3">
                                <div class="featured-icon">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/java.png') }}" alt="" style="margin-bottom: 10px;">
                                    <span class="border-anim"></span>
                                </div>
                                <div class="featured-title">
                                    <h5>5. Объект хандалтат програмчлал</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Програмыг объект хандалтат технологиор програмчлах буюу бодит асуудлын шийдэлд объект хандалтатын давуу талуудыг хэрхэн зөв, оновчтой ашиглах чадварыг эзэмшүүлэх зорилготой.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="featured-item style-3">
                                <div class="featured-icon">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/flutter.png') }}" alt="" style="margin-bottom: 10px;">
                                    <span class="border-anim"></span>
                                </div>
                                <div class="featured-title">
                                    <h5>6. Мобайл програмчлал</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Гар утасны аппликейшны ерөнхий бүтэц, зохион байгуулалтын суурь ойлголтуудыг авч сүүлийн үед эрэлттэй байгаа мобайл хөгжүүлэлтийн фреймворк болох #flutter -ийг ашиглан нэг кодыг #android болон #ios аппликейшн болгох чадварыг эзэмшүүлэх зорилготой.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="featured-item style-3">
                                <div class="featured-icon">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/node.png') }}" alt="" style="margin-bottom: 10px;">
                                    <span class="border-anim"></span>
                                </div>
                                <div class="featured-title">
                                    <h5>7. Backend хөгжүүлэлт</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Энэ хичээлээр веб програмын сервер талын хөгжүүлэлт хийхэд шаардлагатай програмчлалын суурь арга, технологийг ашиглах чадварыг эзэмшүүлэх чадварыг олгох зорилготой.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="featured-item style-3">
                                <div class="featured-icon">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/figma.png') }}" alt="" style="margin-bottom: 10px;">
                                    <span class="border-anim"></span>
                                </div>
                                <div class="featured-title">
                                    <h5>8. UI/UX дизайн</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Энэ хичээлээр технологийн бүтээгдэхүүн болох гар утасны аппликейшн, веб програмын дизайныг эхнээс дуустал бүрэн зохиомжлон гаргаж сурна.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="featured-item style-3">
                                <div class="featured-icon">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/react.png') }}" alt="" style="margin-bottom: 10px;">
                                    <span class="border-anim"></span>
                                </div>
                                <div class="featured-title">
                                    <h5>9. Frontend хөгжүүлэлт</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Хичээлийн зорилго нь Next.js фреймворкыг ашиглан вебийн фронт хэсгийн хөгжүүлэлт хийж сурах мөн фреймворк ашиглан веб хөгжүүлэлт хийхийн давуу талыг ойлгуулахад оршино.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="featured-item style-3">
                                <div class="featured-icon">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/pern.png') }}" alt="" style="margin-bottom: 10px;">
                                    <span class="border-anim"></span>
                                </div>
                                <div class="featured-title">
                                    <h5>10. Төслийн ажил</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Технологийн төсөл хэрхэн, ямар шат дамжлагаар дамжин бүтээгдэхүүн болдог гэсэн бодит мэдлийг олж авна.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!--case study start-->

            <section id="team" class="theme-bg pb-10" data-bg-img="{{ asset('global_assets/images/bg/08.jpg') }}" style="background-image: url(&quot;global_assets/images/bg/08.jpg&quot;);">
                <div class="container mb-10">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="section-title mb-md-0">
                                <h3 class="title mb-0">Монголд хамгийн их ашиглагдаж байгаа<span class="font-w-3 text-light"> гар утасны аппликейшн болон вебийн хөгжүүлэлтийг гүйцэтгэсэн 5-15 жилийн туршлагатай багш, хөгжүүлэгчид нар.</span></h3>
                            </div>
                        </div>
                        <div class="col-md-4 text-md-center">
                            <div class="video-btn"> <a class="popup-youtube play-btn" href="https://www.youtube.com/watch?v=8TG5UrL9H-w"><i class="fas fa-play-circle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section>
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-8 col-12">
                            <div class="section-title">
                                <h6>Багш Нар</h6>
                                <h2 class="title mb-0">Бид мэдлэг<span> чадвараа хуваалцахад бэлэн байна.</span></h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-12">
                            <div class="team-member style-2">
                                <div class="team-global_assets/images">
                                    <img class="img-fluid box-shadow" src="{{ asset('global_assets/images/team/amgaa.png') }}" alt="">
                                </div>
                                <div class="team-social-icon">
                                    <a class="btn btn-white" href="https://www.youtube.com/watch?v=BS5paeLQt2s" target="blank"><span>Бичлэг үзэх<i class="fas fa-plus-square"></i></span></a>
                                </div>
                                <div class="team-description">
                                    <h5><a href="#">Энх-Амгалан</a></h5>
                                    <span>Багш - Алгоритм Ба Өгөгдлийн Бүтэц</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12 mt-5 mt-md-0">
                            <div class="team-member style-2">
                                <div class="team-global_assets/images">
                                    <img class="img-fluid box-shadow" src="{{ asset('global_assets/images/team/tulga.png') }}" alt="">
                                </div>
                                <div class="team-social-icon">
                                    <a class="btn btn-white" href="https://www.youtube.com/watch?v=4y1eJuBhz0A" target="blank"><span>Бичлэг үзэх<i class="fas fa-plus-square"></i></span></a>
                                </div>
                                <div class="team-description">
                                    <h5><a href="#">Тулга</a></h5>
                                    <span>Багш - Програмчлалын үндэс</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12 mt-5 mt-md-0">
                            <div class="team-member style-2">
                                <div class="team-global_assets/images">
                                    <img class="img-fluid box-shadow" src="{{ asset('global_assets/images/team/tushgee.png') }}" alt="">
                                </div>
                                <div class="team-social-icon">
                                    <a class="btn btn-white" href="https://www.youtube.com/watch?v=HCWB3XHILj4&t=4s" target="blank"><span>Бичлэг үзэх<i class="fas fa-plus-square"></i></span></a>
                                </div>
                                <div class="team-description">
                                    <h5><a href="#">Түшиг</a></h5>
                                    <span>Багш - Объект Хандалтат Програмчлал</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-12 mt-5 mt-md-0">
                            <div class="team-member style-2">
                                <div class="team-global_assets/images">
                                    <img class="img-fluid box-shadow" src="{{ asset('global_assets/images/team/amraa.png') }}" alt="">
                                </div>
                                <div class="team-social-icon">
                                    <a class="btn btn-white" href="https://www.youtube.com/watch?v=eXMlEDYUJnA&t=1s" target="blank"><span>Бичлэг үзэх<i class="fas fa-plus-square"></i></span></a>
                                </div>
                                <div class="team-description">
                                    <h5><a href="#">Энх-Амарбаясгалан</a></h5>
                                    <span>Багш - Мобайл хѳгжүүлэлт</span>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 col-12 mt-5 mt-md-0">
                            <div class="team-member style-2">
                                <div class="team-global_assets/images">
                                    <img class="img-fluid box-shadow" src="{{ asset('global_assets/images/team/bilgee.png') }}" alt="">
                                </div>
                                <div class="team-social-icon">
                                    <a class="btn btn-white" href="https://www.youtube.com/watch?v=dyWwYw5XOoA" target="blank"><span>Бичлэг үзэх<i class="fas fa-plus-square"></i></span></a>
                                </div>
                                <div class="team-description">
                                    <h5><a href="#">Билэгсайхан</a></h5>
                                    <span>Багш - Веб хѳгжүүлэлтийн үндэс</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-12 mt-5 mt-md-0">
                            <div class="team-member style-2">
                                <div class="team-global_assets/images">
                                    <img class="img-fluid box-shadow" src="{{ asset('global_assets/images/team/sainaa.png') }}" alt="">
                                </div>
                                <div class="team-social-icon">
                                    <a class="btn btn-white" href="https://www.youtube.com/watch?v=t3R6xGT181M" target="blank"><span>Бичлэг үзэх<i class="fas fa-plus-square"></i></span></a>
                                </div>
                                <div class="team-description">
                                    <h5><a href="#">Сайнбаяр</a></h5>
                                    <span>Багш - UX</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4 col-12 mt-5 mt-md-0">
                            <div class="team-member style-2">
                                <div class="team-global_assets/images">
                                    <img class="img-fluid box-shadow" src="{{ asset('global_assets/images/team/aso.png') }}" alt="">
                                </div>
                                <div class="team-social-icon">
                                    <a class="btn btn-white" href="https://www.youtube.com/watch?v=Fs2nf3wEfVw" target="blank"><span>Бичлэг үзэх<i class="fas fa-plus-square"></i></span></a>
                                </div>
                                <div class="team-description">
                                    <h5><a href="#">Анхбаяр</a></h5>
                                    <span>Багш - UI</span>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 col-12 mt-5 mt-md-0">
                            <div class="team-member style-2">
                                <div class="team-global_assets/images">
                                    <img class="img-fluid box-shadow" src="{{ asset('global_assets/images/team/burnee.png') }}" alt="">
                                </div>
                                <div class="team-social-icon">
                                    <a class="btn btn-white" href="https://www.youtube.com/watch?v=XapR-8P7tio" target="blank"><span>Бичлэг үзэх<i class="fas fa-plus-square"></i></span></a>
                                </div>
                                <div class="team-description">
                                    <h5><a href="#">Бүрэнхүү</a></h5>
                                    <span>Багш - Backend хѳгжүүлэлт</span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>


            <!--team end-->


            <!--feature start-->

            <section class="position-relative" id="advantage">
                <div id="particles-js"></div>
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-8 col-md-12">
                            <div class="section-title">
                                <h6>Бидний давуу тал</h6>
                                <h2 class="title mb-0">Мэргэжлийн <span>ур чадвар</span></h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="featured-item style-2 text-center">
                                <div class="featured-icon"> <i class="flaticon-ui"></i>
                                    <span>01</span>
                                </div>
                                <div class="featured-title">
                                    <h5>5-15 жилийн туршлагатай багш</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-5">
                            <div class="featured-item style-2 text-center">
                                <div class="featured-icon"> <i class="flaticon-domain"></i>
                                    <span>02</span>
                                </div>
                                <div class="featured-title">
                                    <h5>Онол, практик хосолсон хѳтѳлбѳр</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-5 mt-md-0">
                            <div class="featured-item style-2 text-center">
                                <div class="featured-icon"> <i class="flaticon-challenges"></i>
                                    <span>03</span>
                                </div>
                                <div class="featured-title">
                                    <h5>Мэдээллийн технологийн экосистем</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--feature end-->

            <section class="page-title animatedbg dark-bg text-center" data-bg-img="{{ asset('global_assets/images/pattern/01.png') }}" id="faq">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1>Түгээмэл асуулт хариулт</h1>
                        </div>
                    </div>
                </div>
            </section>


            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="accordion">
                                <div class="card">
                                    <div class="card-header">
                                        <h6 class="mb-0">
                                            Эрчимжүүлсэн хѳтѳлбѳр хэзээ элсэлт авч эхлэх вэ ?
                                        </h6>
                                    </div>
                                    <div class="card-body">Намар болон Өвлийн 2 элсэлт авдаг бөгөөд элсэлттэй холбоотой мэдээллийг бидний сошиал хаягуудаас болон утсаар холбогдон авах боломжтой.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mt-md-0 mt-5">
                            <div class="accordion">
                                <div class="card">
                                    <div class="card-header">
                                        <h6 class="mb-0">
                                            Эрчимжүүлсэн хѳтѳлбѳрийн төлбөр хэд вэ ?
                                        </h6>
                                    </div>
                                    <div class="card-body">Нэг жилийн эрчимжүүлсэн хөтөлбөрийн сургалтаар нийт 32 кредитийн хичээл үзэх бөгөөд 1кр төлбөр 163000 төгрөг байна. Сургалтын төлбөрийг 2 хувааж төлөх боломжтой.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mt-5">
                            <div class="accordion">
                                <div class="card">
                                    <div class="card-header">
                                        <h6 class="mb-0">
                                            Хаана хичээллэх вэ ?
                                        </h6>
                                    </div>
                                    <div class="card-body">Санхүү Эдийн Засгийн Их Сургуулийн байранд хичээллэнэ.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mt-5">
                            <div class="accordion">
                                <div class="card">
                                    <div class="card-header">
                                        <h6 class="mb-0">
                                            СЭЗИС-д шилжин суралцах боломжтой юу?
                                        </h6>
                                    </div>
                                    <div class="card-body">Эрчимжүүлсэн хөтөлбөрийн төгсөгчид СЭЗИС-д дэвшин суралцах буюу хоёр дугаар курсээсээ үргэлжлүүлэн суралцах боломжийг олгодог.</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


        </div>

        <!--body content end-->

{% endblock %}

{% block javascripts %}
{% include 'inc/flashmsg.html.twig' %}
{% endblock %}
