{% extends 'base.html.twig' %}

{% block title %}Зуны хөтөлбөр{% endblock %}

{% block body %}


    <!--page title start-->

    <section class="page-title animatedbg dark-bg text-center" data-bg-img="{{ asset('global_assets/images/pattern/01.png') }}">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Зуны хөтөлбөр</h1>
                </div>
            </div>
        </div>
    </section>

    <!--page title end-->

    <!--body content start-->

    <div id="main-page" class="page-content">

        <!--pricing table start-->

        <section>
            <div class="container">
                <div class="row align-items-end mb-5">
                    <div class="col-lg-6 col-12">
                        <div class="section-title mb-0">
                            <h6>Хөтөлбөрийн зорилго</h6>
                            <h2 class="title mb-0">Бие даан динамик веб сайт бүтээх</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 mt-3 mt-lg-0">
                        <p class="lead text-black font-w-5 mb-0">Хамгийн өргөн цар хүрээтэй, бүх төрлийн програмыг бүтээх боломжтой програмчлалын хэл болох JAVASCRIPT хэлийг суурь болгон заана.
                            <br> Хөтөлбөрийн төгсгөлд энэхүү хэлийг вебийн frontend буюу HTML, CSS -тэй хослуулан веб сайтын харагдац хэсгийг бүтээхээс гадна backend буюу веб сервер үүсгэж өгөгдлийн сантай ажиллаж сурна.</p>
                    </div>
                </div>
                <div class="row mb-5">

                    <div class="col-lg-4 col-md-12 offset-lg-4 offset-md-4 mt-5 mt-lg-0">
                        <div class="price-table box-shadow">
                            <div class="price-header">
                                <h4 class="price-title">Зуны хөтөлбөр</h4>
                                <p class="mb-4" style="text-align: justify !important;">Веб сайт, өгөгдлийн сан болон веб серверийн тухай бүхий л үндсэн ойлголтуудыг багтаасан хөтөлбөр бөгөөд веб хөгжүүлэгчид шаардлагатай мэдлэгийг 2 сарын хугацаанд анхан шатнаас дунд түвшин хүртэл олгох юм. Энэхүү хөтөлбөрт хамрагдсанаар бие даан веб сайт хөгжүүлэх бүрэн чадвартай болж төгсөнө.</p>
                                <div class="featured-icon mb-3">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/html.png') }}" width="50" height="50" alt="" style="margin-right: 15px;">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/css.png') }}" width="50" height="50"  alt="" style="margin-right: 15px;">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/js-green.png') }}" width="50" height="50"  alt="">
                                </div>
                                <div class="featured-icon mb-3">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/postgre-gray.png') }}" width="50" height="50" alt="">
                                </div>
                                <div class="featured-icon">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/node.png') }}" width="50" height="50" alt="" style="margin-right: 15px;">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/express.png') }}" width="50" height="50" alt="" style="margin-right: 15px;">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/git.png') }}" width="50" height="50" alt="">
                                </div>
                            </div>
                            <div class="price-value">
                                <h2>
                                    <span class="price-dollar">₮</span>1'500'000
                                </h2>
                            </div>
                            <div class="price-list">
                                <ul class="list-unstyled">
                                    <li><i class="fas fa-check"></i> Веб хөгжүүлэлт</li>
                                    <li><i class="fas fa-check"></i> Өгөгдлийн сангийн зохиомж</li>
                                    <li><i class="fas fa-check"></i> Backend хөгжүүлэлт</li>
                                </ul>
                            </div>
                            <a class="btn btn-theme btn-block mt-4" href="#team"> <span>Бүртгүүлэх <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="price-table theme-bg">
                            <div class="price-header">
                                <h4 class="price-title">Веб хөгжүүлэлт</h4>
                                <div class="featured-icon">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/html.png') }}" width="50" height="50" alt="" style="margin-right: 15px;">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/css.png') }}" width="50" height="50"  alt="" style="margin-right: 15px;">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/js-green.png') }}" width="50" height="50"  alt="">
                                </div>
                            </div>
                            <div class="price-value">
                                <h2>
                                    <span class="price-dollar">₮</span>600'000
                                </h2>
                            </div>
                            <div class="price-list">
                                <ul class="list-unstyled text-uppercase">
                                    <li><i class="fas fa-check"></i> Вэб програмын үндсэн ойлголт </li>
                                    <li><i class="fas fa-check"></i> Үндсэн хэрэглүүрүүд</li>
                                    <li><i class="fas fa-check"></i> HTML tags & elements</li>
                                    <li><i class="fas fa-check"></i> CSS веб хэлбэржүүлэлт</li>
                                    <li><i class="fas fa-check"></i> Responsive дизайн</li>
                                    <li><i class="fas fa-check"></i> Animation</li>
                                    <li><i class="fas fa-check"></i> HTTP Request and Response</li>
                                    <li><i class="fas fa-check"></i> Контент оруулах</li>
                                    <li><i class="fas fa-check"></i> Javascript үндсэн ойлголтууд</li>
                                    <li><i class="fas fa-check"></i> DOM</li>
                                    <li><i class="fas fa-check"></i> Хувьсагч, оператор, функц</li>
                                    <li><i class="fas fa-check"></i> HTML, CSS, JS хослол</li>
                                </ul>

                                <h3>
                                    <span class="price-dollar">VI/20 - VII/9</span>
                                </h3>
                            </div>
                            <a class="btn btn-white btn-block mt-4" href="#team"> <span>Бүртгүүлэх <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mt-5 mt-lg-0">
                        <div class="price-table box-shadow">
                            <div class="price-header">
                                <h4 class="price-title">Өгөгдлийн сангийн зохиомж</h4>
                                <div class="featured-icon">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/postgre-gray.png') }}" width="50" height="50" alt="">
                                </div>
                            </div>
                            <div class="price-value">
                                <h2>
                                    <span class="price-dollar">₮</span>600'000
                                </h2>
                            </div>
                            <div class="price-list">
                                <ul class="list-unstyled">
                                    <li><i class="fas fa-check"></i> ӨГӨГДЛИЙН САНГИЙН ҮНДСЭН ОЙЛГОЛТУУД</li>
                                    <li><i class="fas fa-check"></i> POSTGRESQL SERVER ДЭЭР ӨГӨГДЛИЙН САНТАЙ АЖИЛЛАХ</li>
                                    <li><i class="fas fa-check"></i> CRUD ӨГӨГДЛИЙГ УДИРДАХ ҮЙЛДЛҮҮД</li>
                                    <li><i class="fas fa-check"></i> ХОЛБООСТ ӨГӨГДЛИЙН САНГ ЗОХИОМЖЛОХ</li>
                                    <li><i class="fas fa-check"></i> ӨГӨГДӨЛ БҮЛЭГЛЭХ БОЛОН ЭРЭМБЭЛЭХ ФУНКЦУУД</li>
                                    <li><i class="fas fa-check"></i> ОЛОН ХҮСНЭГТИЙГ НЭТГЭЖ МЭДЭЭЛЭЛ ГАРГАХ</li>
                                    <li><i class="fas fa-check"></i> ИХ ХЭМЖЭЭНИЙ БИЧИЛТТЭЙ ХҮСНЭГТТЭЙ АЖИЛЛАХ</li>
                                    <li><i class="fas fa-check"></i> ХӨТӨЛБӨРӨӨР ХЭРЭГЖҮҮЛЭХ ТӨСӨЛД АШИГЛАГДАХ ӨГӨГДЛИЙН САНГ ЗОХИОМЖИЙН ДАГУУ ҮҮСГЭХ, ТУРШИХ</li>
                                    <li><i class="fas fa-check"></i> ТУСГАЙ СЭДВҮҮД</li>
                                </ul>

                                <div class="price-value">
                                    <h3>
                                        <span class="price-dollar text-primary">VII/18 - VIII/7</span>
                                    </h3>
                                </div>
                            </div>
                            <a class="btn btn-theme btn-block mt-4" href="#team"> <span>Бүртгүүлэх <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 mt-5 mt-lg-0">
                        <div class="price-table dark-bg">
                            <div class="price-header">
                                <h4 class="price-title">Backend хөгжүүлэлт</h4>
                                <div class="featured-icon">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/node.png') }}" width="50" height="50" alt="" style="margin-right: 15px;">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/express.png') }}" width="50" height="50" alt="" style="margin-right: 15px;">
                                    <img class="img-fluid" src="{{ asset('global_assets/images/git.png') }}" width="50" height="50" alt="">
                                </div>
                            </div>
                            <div class="price-value">
                                <h2>
                                    <span class="price-dollar">₮</span>600'000
                                </h2>
                            </div>
                            <div class="price-list">
                                <ul class="list-unstyled text-uppercase">
                                    <li><i class="fas fa-check"></i> Орчин үеийн Javascript хэл буюу ES6 нэмэлтүүд</li>
                                    <li><i class="fas fa-check"></i> HTTP протокол түүний хувилбар, ажиллах зарчим</li>
                                    <li><i class="fas fa-check"></i> Веб серверийн ажиллагаа</li>
                                    <li><i class="fas fa-check"></i> NodeJS, Express ойлголтууд</li>
                                    <li><i class="fas fa-check"></i> REST API хэрэглээ</li>
                                    <li><i class="fas fa-check"></i> Өгөгдлийн сантай холбогдох, Өгөгдөлтэй ажиллах</li>
                                    <li><i class="fas fa-check"></i> Багаар хөгжүүлэлт хэрхэн хийх вэ?</li>
                                    <li><i class="fas fa-check"></i> Git гэж юу вэ?</li>
                                    <li><i class="fas fa-check"></i> NodeJS module </li>
                                    <li><i class="fas fa-check"></i> Cookie, Session</li>
                                    <li><i class="fas fa-check"></i> Алдаатай ажиллах</li>
                                    <li><i class="fas fa-check"></i> Нууцлал аюулгүй байдал</li>
                                </ul>

                                <div class="price-value">
                                    <h3>
                                        <span class="price-dollar text-white">VIII/8 - VIII/28</span>
                                    </h3>
                                </div>
                            </div>
                            <a class="btn btn-white btn-block mt-4" href="#team"> <span>Бүртгүүлэх <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--pricing table end-->


        <!--team start-->

        <section>
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-8 col-md-12">
                        <div class="section-title">
                            <h6>Зуны баг</h6>
                            <h2 class="title mb-0">Хөтөлбөрийн <span>багш нар</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-member style-2">
                            <div class="team-images">
                                <img class="img-fluid box-shadow" src="{{ asset('global_assets/images/team/Orgil.jpg') }}" alt="">
                            </div>
                            <div class="team-social-icon">
                                <ul>
                                    <li><a href="https://www.facebook.com/top.orgil"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li><a href="https://www.linkedin.com/in/orgil-batsaikhan-1aaa3a199"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="team-description">
                                <h5><a href="#">Оргил</a></h5>
                                <span>Frontend developer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-5 mt-md-0">
                        <div class="team-member style-2">
                            <div class="team-images">
                                <img class="img-fluid box-shadow" src="{{ asset('global_assets/images/team/Khangal.jpg') }}" alt="">
                            </div>
                            <div class="team-social-icon">
                                <ul>
                                    <li><a href="https://www.facebook.com/kinaiken.haku"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li><a href="https://www.linkedin.com/in/khangal-sainbayar-ba6971a6"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="team-description">
                                <h5><a href="#">Хангал</a></h5>
                                <span>Data scientist</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-5 mt-md-0">
                        <div class="team-member style-2">
                            <div class="team-images">
                                <img class="img-fluid box-shadow" src="{{ asset('global_assets/images/team/Munkhbold.jpg') }}" alt="">
                            </div>
                            <div class="team-social-icon">
                                <ul>
                                    <li><a href="https://www.facebook.com/md.moogii"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li><a href="https://www.linkedin.com/in/%D0%BF-%D0%BC%D3%A9%D0%BD%D1%85%D0%B1%D0%BE%D0%BB%D0%B4-a6b111186"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="team-description">
                                <h5><a href="#">Мөнхболд</a></h5>
                                <span>Backend developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--team end-->
        <!--team start-->

        <section id="team">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col text-center">
                        <div class="section-title">
                            <h2 class="title">Хѳтѳлбѳрт <span>Бүртгүүлэх</span></h2>
                        </div>
                        <div class="contact-main">

                            {% if msg is defined and status != '' %}
                                <div class="alert {{ status == 'success' ? 'alert-success':'alert-danger' }}" role="alert">{{ msg }}</div>
                            {% endif %}

                            {{ form_start(form, {'attr': {'class':'row'}}) }}
                            <div class="messages"></div>
                            <div class="form-group col-md-6"><div class="help-block with-errors">{{ form_errors(form.lastname) }}</div>
                                {{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Овог', 'required': true}}) }}

                            </div>
                            <div class="form-group col-md-6">
                                {{ form_widget(form.firstname, { 'attr': {'class': 'form-control', 'placeholder': 'Нэр', 'required': true} }) }}
                                <div class="help-block with-errors">{{ form_errors(form.firstname) }}</div>
                            </div>
                            <div class="form-group col-md-6">
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Цахим шуудангийн хаяг', 'type': 'email', 'required': true} }) }}
                                <div class="help-block with-errors">{{ form_errors(form.email) }}</div>
                            </div>
                            <div class="form-group col-md-6">
                                {{ form_widget(form.phone, {'attr': {'class': 'form-control','type': 'number', 'minlength': 8, 'maxlength':8, 'placeholder': 'Утасны дугаар ', 'required': true}}) }}
                                <div class="help-block with-errors">{{ form_errors(form.phone) }}</div>
                            </div>
                            <div class="form-group col-md-12">
                                {{ form_widget(form.type, { 'attr': {'class': 'form-control form-select', 'rows': 4, 'required': true} }) }}
                                <div class="help-block with-errors">{{ form_errors(form.type) }}</div>
                            </div>
                            <div class="form-group col-md-12">
                                {{ form_widget(form.comment, { 'attr': {'class': 'form-control', 'rows': 4, 'placeholder': 'Санал хүсэлт', 'required': true} }) }}
                                <div class="help-block with-errors">{{ form_errors(form.comment) }}</div>
                            </div>
                            <div class="col-md-12 mt-4">
                                <button type="submit" class="btn btn-theme"><span>Илгээх <i class="far fa-paper-plane ms-2"></i></span>
                                </button>
                            </div>
                            {{ form_errors(form) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--team end-->

    </div>

{% endblock %}

{% block javascripts %}
{% include 'inc/flashmsg.html.twig' %}
{% endblock %}
