

<!--footer start-->

<footer class="footer">
    <div class="primary-footer">
        <div class="container">
            <div class="row mb-10 align-items-center">
                <div class="col-lg-8 col-md-7">
                    <h2 class="title text-white">Мэдээлэл технологийн эрчимжүүлэгч</h2>
                </div>

            </div>
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6">
                    <div class="footer-logo mb-3">
                        <a href="{{ path('default_index') }}"><img class="img-fluid" src="{{ asset('global_assets/images/logo-white.png') }}" alt=""></a>
                    </div>
                    <p class="mb-0">Бидний өдөр тутмын амьдралын салшгүй нэг хэсэг болсон технологи цаг, минут, секунд тутамд сайжирч байгаа ба энэ салбарт хөл тавих, чадвар эзэмших нь шинэ үеийн залуусын хүсэл мөрөөдөл болсоор байна..</p>
                </div>
                <div class="col-lg-6 ms-auto col-md-6 mt-5 mt-md-0">
                    <h4 class="mb-4 text-white">Холбоос</h4>
                    <div class="footer-list">
                        <ul class="list-inline">
                            {% if path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) == '/' %}
                                <li><a href="#top">Эхлэл</a>
                                </li>
                                <li><a href="#program">Хѳтѳлбѳр</a>
                                </li>
                                <li> <a href="#team">Багш</a>
                                </li>
                                <li> <a href="#advantage">Давуу тал</a>
                                </li>
                                <li> <a href="#faq">Түгээмэл асуулт</a>
                                </li>
                            {% else %}
                                <li><a href="{{ path('default_index') }}">Нүүр хуудас</a>
                                </li>
                            {% endif %}
                            <li> <a href="{{ path('register_index') }}">Холбоо барих</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="secondary-footer">
        <div class="container">
            <div class="copyright">
                <div class="row align-items-center">
                    <div class="col-lg-7 order-lg-1 text-lg-end"> <span>Copyright 2022 <u><a href="http://iotech.mn">IOTECH.mn</a></u> | All Rights Reserved</span>
                    </div>
                    <div class="col-lg-5 mt-3 mt-lg-0">
                        <div class="footer-social">
                            <ul class="list-inline">
                                <li><a href="https://www.facebook.com/io.institute"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li><a href="https://www.instagram.com/io.institute"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li><a href="https://www.youtube.com/channel/UCPJi9mf5pGH7rEZ6DhDQX2w"><i class="fab fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dot-bg">
        <img class="img-fluid" src="{{ asset('global_assets/images/pattern/05.png') }}" alt="">
    </div>
</footer>

<!--footer end-->

</div>

<!-- page wrapper end -->

<div class="burger-menu"><span class="menu-toggle"></span>
</div>
<nav class="menu-2">
    <div class="media-info">
        <div class="contact-info">
            <h4 class="text-white mb-4">Холбоо барих</h4>
            <div class="contact-media mb-4"> <i class="flaticon-location"></i>
                <h6>Хаяг:</h6>
                <span>Монгол улс, Улаанбаатар хот, Баянзүрх дүүрэг, 1-р хороо, Энхтайваны өргөн чөлөө-5, 13381, Ш/H: Улаанбаатар-49, СЭЗИС-н байр, B-4 давхар</span>
            </div>
            <div class="contact-media mb-4"> <i class="flaticon-email"></i>
                <h6>И-мэйлээр холбогдох</h6>
                <a href="mailto:admin@ioi.mn"> admin@ioi.mn</a>
            </div>
            <div class="contact-media"> <i class="flaticon-support-1"></i>
                <h6>Утсаар холбогдох</h6>
                <a href="tel:+976 7015 8820">+976 7732 1010</a>
            </div>
        </div>
        <div class="hero-social mt-5">
            <h4 class="text-white mb-4">Биднийг дагаарай</h4>
            <ul class="list-unstyled">
                <li class="me-2">
                    <a href="https://www.facebook.com/io.institute"> <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="me-2">
                    <a href="https://www.instagram.com/io.institute"> <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCPJi9mf5pGH7rEZ6DhDQX2w"> <i class="fab fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--back-to-top start-->

<div class="scroll-top"><a class="smoothscroll" href="#top"><i class="fas fa-chevron-up"></i></a></div>

<!--back-to-top end-->